<!-- Page Content -->
<%  require 'time_diff' %>
<div class="container">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
    <%if (@events.size != 0)%>
      <h1 class="page-header">Upcoming Events </h1>
      <%#*<small>Secondary Text</small>%>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->
  <div class="row">
    <%  current_date = Time.now.strftime('%Y-%m-%d')%>
    <% @events.each do |c| %>
    <%
    event_date = c.date.strftime('%Y-%m-%d')
    countdown = Time.diff(Time.parse(current_date),Time.parse(event_date), '%y, %M, %d')
    %>
    <div class="col-md-4 portfolio-item">
      <h4><strong><%= link_to c.title, event_path(:id=>c.id) %></strong></h4>
      <h4><p class="count-down" style="font-style: italic; color: PaleVioletRed; font-weight: bold;"><%= countdown[:diff] + " left"%></p></h4>
      <ul class="demo-3">
        <li>
          <figure>
            <%= image_tag c.image.url(:medium), :class=>"img-responsive" %>
            <figcaption>
              <p><font size="3"><%= truncate(c.description, :length => 175 ) { link_to "Continue", event_path(:id=>c.id) } %></font></p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </br>
  </div>
  <%end%>
</br>
</div>
<hr>
<%else%>
</br>
<div class="alert alert-danger">
  <strong>Sorry...no result found for the search key word <i>'<%= params[:search] %>'</i></strong>
</div>
<%end%>
</div>

