<div class="container">
  <h2></h2>
  <table class="table table-hover">
    <%= link_to "Add new Event", new_event_path, :class=> 'btn btn-default btn_add_new' %>
    <thead>
      <tr>
      <th>Event</th>
      <th>Description</th>
      <th>Date</th>
      <th>Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
       <% @events.each do |c| %>
      <tr>
        <td class="col-md-2"><%= c.title %></td>
        <td class="col-md-6"><%= c.description %></td>
        <td><%= c.date.strftime("%Y-%m-%d") %></td>
        <td><%= c.date.strftime("%H:%M %p") %></td>
        <td><%= image_tag c.image.url(:thumb) %></td>
        <td><%= link_to edit_event_path(c), title: 'Update', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do%><i class="fa fa-pencil-square-o fa-lg"></i><%end%></td>
        <td><%= link_to event_path(:id=>c.id), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right'  do%><i class="fa fa-trash fa-lg"></i><%end%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>



