<div class="container">
		<%= form_tag '/login', class:'form-login' do %>
		<h1>Login</h1>

		<div class="form-group">
			<%= label_tag 'USER NAME'%>
			<%= text_field_tag :name,  nil, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= label_tag 'PASSWORD'%>
			<%= password_field_tag :password,  nil, class: 'form-control' %>
		</div>

		<%= submit_tag "Submit", :class=> 'btn btn-default' %>
		<%= button_tag "Reset", :type => 'button', :class=> 'btn btn-default', :id => "position_cancel" %>
		<% end %>
</div>

<script type="text/javascript"> 
  $(document).ready(function(){
  	$('#position_cancel').click(function(){
  		document.getElementById("name").value = '';
  		document.getElementById("password").value = '';
  	 });
  });
</script>
