<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
      <% if current_user %>
        <%= link_to "Eventz.sg - ADMIN PORTAL", home_path %> 
      <% else %>
        <%= link_to "Eventz.sg", home_path %> 
      <% end %> 
      </div>
    </div>

    <div class="pull-left user-name">
        <% if current_user %>
          Signed as  <%= current_user.name %> 
       <% end %> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
           <li><%= link_to "Event Management", index_path %></li>
           <li><%= link_to "Logout", logout_path %></li> 
        <% else %>
           <li><%= link_to "Home", home_path %></li>
           <li><%= link_to "Contact Us", contact_path %></li>
           <li><%= link_to 'Login', login_path %> </li>
        <% end %>
      </ul>

      <div class="pull-right">
        <%= form_tag(home_path, :method => "get", :class => "navbar-form") do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], placeholder: "Search Event", class: 'form-control' %>
              <div class="input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                    <i class="fa fa-search" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to(home_path, :class=> 'btn btn-default') do %>
                    <i class="fa fa-times" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
